/* Сетка дашборда */
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  margin-bottom: 32px;
}

.dashboard-card {
  background: var(--white);
  border-radius: 12px;
  padding: 24px;
  border: 1px solid var(--orange);
  text-align: center;
  transition: transform var(--duration-normal) var(--ease-standard);
}

.dashboard-card p {
  color: var(--light-orange);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 48px;
}

.dashboard-card:hover {
  transform: translateY(-5px);
}

.card-number {
  color: var(--white);
  margin-bottom: 16px;
}

/* Секции */
.recent-section,
.recommendations {
  margin: 32px 0;
  background: var(--white);
  padding: 20px 30px;
  border-radius: 12px;
}

.recent-section h3,
.recommendations h3 {
  margin-bottom: 24px;
}

.workout-name {
  margin: 12px;
}

.workout-trainer,
.workout-date,
.workout-time,
.workout-participiants,
.workout-rating {
  margin: 0;
  margin-left: 16px;
}

.text-muted {}

.footer {}